.login
    margin-bottom 90px

    @media screen and (max-width 480px)
        margin-bottom 10px

    &__body
        width 895px
        max-width 100%
        display flex
        justify-content space-between
        padding-left 50px

        @media screen and (max-width 960px)
            padding-left 0

    &__img
        width 151px
        height 257px
        margin-right 90px

        @media screen and (max-width 639px)
            display none

    &__input-title
        font-size 18px
        color #333
        font-weight 700
        margin-bottom 10px

    &__items
        width 635px
        max-width 100%	
        display flex
        flex-direction column

    &__item
        max-width 100%
        margin-bottom 35px

        @media screen and (max-width 480px)
            margin-bottom 20px

    &__btn
        margin-left auto

        @media screen and (max-width 480px)
            min-width auto
            width 100%