.soc
    display flex 
    margin-left -30px
    a 
        margin-left 30px
        display block 
        text-decoration none
        width 29px
        height 24px

        img
            max-height 100%
            