.wrp-content
    max-width 1180px
    margin 0 auto
    border-radius 31px 20px 20px
    background-color #fff
    padding 50px
    margin-bottom 30px
    
    @media screen and (max-width 1210px)
        margin-right 15px
        margin-left 15px

    @media screen and (max-width 480px)
        padding 15px

    &--mod
        padding 70px 115px 100px

        @media screen and (max-width 1279px)
            padding 50px

        @media screen and (max-width 480px)
            padding 15px

    &--mod-user
        padding 70px 95px 50px

        @media screen and (max-width 1279px)
            padding 50px

        @media screen and (max-width 480px)
            padding 15px          

.app--main
    .wrp-content
        @media screen and (min-width 1024px)
            // margin-top -80px
            position relative
            z-index 1
