.main-title

    &__img
        // width 1150px
        // max-width 100%
        
        img
            max-width 100%

    h1
        font-size 48px
        font-family : $fonts.headings
        color #333
        font-weight 600
        line-height 1.3
        text-transform uppercase
        letter-spacing 1px  
        text-align center
        margin-top 80px
        margin-bottom 55px

        @media screen and (max-width 639px)
            font-size 34px
            margin-top 20px
            margin-bottom 20px

        @media screen and (max-width 480px)    
            font-size 28px
            
.app--main
    .main-title
        margin-top -28px
        &__section
            padding 0    

.app--user-registration

    h1
        margin-left 100px

        @media screen and (max-width 959px)
            margin-left 0

        @media screen and (max-width 480px)
            font-size 34px
            margin-top 40px
