.to-register
    margin-bottom 90px

    @media screen and (max-width 480px)
        margin-bottom 10px

    &__body
        width 1005px
        max-width 100%
        display flex

    &__img
        width 370px
        height auto
        margin-top -50px
        margin-left -70px

        @media screen and (max-width 767px)
            display none

    &__input-title
        font-size 18px
        color #333
        font-weight 700
        margin-bottom 10px

    &__items
        width 635px
        max-width 100%	
        display flex
        flex-direction column
        margin-top 25px

        @media screen and (max-width 767px)
            width 800px

    &__item
        max-width 100%
        margin-bottom 35px
        @media screen and (max-width 480px)
            margin-bottom 15px

    &__btn
        min-width 304px
        margin-left auto

        @media screen and (max-width 480px)
            min-width auto
            width 100%