.form-idea-project

    &__body
        display flex
        justify-content space-between
        margin-bottom 55px

        @media screen and (max-width 959px)
            flex-direction column

        @media screen and (max-width 480px)
            margin-bottom 30px
            
    &__items
        width 490px
        max-width 100%
        display flex
        flex-direction column

        @media screen and (max-width 959px)
            width 100%
            order 1

    &__item
        margin-bottom 25px

    &__input-title
        font-size 14px
        color #333
        font-weight 400
        margin-bottom 10px

    &__bottom
        display flex
        align-items center

        @media screen and (max-width 610px)
            flex-direction column

    &__btn
        min-width 265px
        margin-right 50px

        @media screen and (max-width 610px)
            margin 0 auto 15px

    &__help-text
        font-size 14px
        color #333
        font-style italic

        @media screen and (max-width 375px)
            font-size 12px

.attach-docs
    padding-left 35px

    &__file
        display flex
        align-items center

    &__icon
        width 33px
        height 34px
        margin-right 13px

        .svg-icon--paper-clip-01
            width 33px
            height 34px
            fill #6a9ca9

    .jq-file 
        input
            font-size 14px
        
    .jq-file__name
        font-size 14px
        color #333
        font-weight 400
        border-bottom 1px solid #a5a5a5
        line-height 1

.informers

    &__title
        font-size 14px
        color #333
        font-weight 400
        line-height 20px
        margin-bottom 20px


    &__items
        width 345px
        max-width 100%
        border 1px solid #008ed7
        display flex
        justify-content space-between
        padding 12px 15px 18px
        position relative
        &:after
            content ''
            position absolute
            top 50%
            right -13px
            margin-top -5px
            width 0
            height 0
            border-style solid
            border-width 6.5px 0 6.5px 7px
            border-color transparent transparent transparent #008ed7 